body {
    font-family: Arial, sans-serif;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1em;
}

.date {
    border: 1px solid #ccc;
    padding: 1em;
    text-align: center;
}
